{% extends 'base.html.twig' %}

{% block title %}Search for a product{% endblock %}

{% block body %}
  <h1>Search for a product</h1>
  <p>by a barcode</p>
  {{ form_start(form) }}
  {{ form_widget() }}
  {{ form_end(form) }}
  <hr/>
  <a href="/">Go back</a>
{% endblock %}