{% extends 'base.html.twig' %}

{% block title %}Create a owner{% endblock %}

{% block body %}
  <h1>This is the InPost dashboard</h1>
  <p>Other functions you can find in main menu.</p>
{% endblock %}